.jumbotron {
    background-image: url(/assets/img/background.jpg);
    font-family: 'Anton', sans-serif;
}
.jumbotron h1 {
    width: 600px;
    margin: auto;
    background: #fff;
    font-size: 50px;
    letter-spacing: 3px;
}
.form-row {
    margin-top: 20px;
}
.card li {
    margin: 10px;
}
#submitBtn {
    font-weight: bold;
}